<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.scurab.android.uitorsample">

    <application
        android:name="com.scurab.android.uitorsample.SampleApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.scurab.android.uitorsample.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.scurab.android.uitorsample.AnotherActivity"
            android:label="@string/app_name" />

        <!--
            inherited from lib
            <service android:name="com.scurab.android.uitor.service.UitorService"/>
        -->
    </application>

</manifest>
