<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xmlns="http://java.sun.com/xml/ns/javaee">        

	<servlet>
		<servlet-name>transport</servlet-name>
		<servlet-class>com.scurab.gwt.anuitor.server.TransportServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>transport</servlet-name>
		<url-pattern>/viewhierarchy.json</url-pattern>
		<url-pattern>/screen.png</url-pattern>
		<url-pattern>/view.png</url-pattern>
		<url-pattern>/resources.json</url-pattern>
		<url-pattern>/storage.json</url-pattern>		
		<url-pattern>/screenstructure.json</url-pattern>
		<url-pattern>/screens.json</url-pattern>		
		<url-pattern>/logcat.txt</url-pattern>
		<url-pattern>/viewproperty.json</url-pattern>
	</servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
