<manifest
    package="com.scurab.android.anuitorsample"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
    inherited from lib
    <uses-permission android:name="android.permission.INTERNET"/>
    -->
    <!-- optional permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".SampleApplication"
        android:theme="@style/AppTheme"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--
            inherited from lib
            <service android:name="com.scurab.android.anuitor.service.AnUitorService"/>
        -->
    </application>

</manifest>
